<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1k6bpw22wey-Si_sEdKIAE-9qpq9Fgew</string>
	<key>GCM_SENDER_ID</key>
	<string>596443986046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.placement</string>
	<key>PROJECT_ID</key>
	<string>clg-placement-system</string>
	<key>STORAGE_BUCKET</key>
	<string>clg-placement-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596443986046:ios:030c1e9f95e3d22dfbc02f</string>
</dict>
</plist>